<div class="container">
  <div class="oferta" style="margin-bottom: 70px;" *ngIf="oferta !== undefined">

    <!-- <div class="row">
      <div class="col">
        <a [routerLink]="['/oferta', 1]">Oferta 1</a>
        <a [routerLink]="['/oferta', 3]">Oferta 3</a>
        <a [routerLink]="['/oferta', 6]">Oferta 6</a>
      </div>
    </div> -->

    <div class="row">
      <div class="col">
        <h4>{{ oferta.descricao_oferta }}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="img_capa">
          <img [src]="oferta.imagens[0].url" />
        </div>

        <div class="thumbnails">
            <img *ngFor="let imagem of oferta.imagens" [src]="imagem.url" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col text-center">
            <p>Por apenas</p>
          </div>
          
        </div>

        <div class="row">
          <div class="col text-center">
            <h1>R$ {{ oferta.valor }}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-warning btn-lg">Adicionar ao carrinho</button>
          </div>
        </div>
          
      </div>

    </div>

  </div>
  <div class="row" style="margin: 25px 0 150px;">
    <div class="col">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" routerLink="como-usar" role="tab" aria-selected="true">Como usar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" routerLink="onde-fica" role="tab" aria-selected="false">Onde fica</a>
        </li>
      </ul>
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>